<div class="d-flex justify-content-center">
    <div class="col-md-8 mt-4">
        <table class="table table-hover">
            <thead>
                <tr class="table-warning">
                    <th style="width: 10%;">Código</th>
                    <th style="width: 30%;">Nombre</th>
                    <th style="width: 30%;">Apellido</th>
                    <th style="width: 20%;">Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Andrés</td>
                    <td>Guerrero</td>
                    <td>Arquitecto de Software</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Ramón</td>
                    <td>Valdés</td>
                    <td>Calidad</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Florinda</td>
                    <td>Mesa</td>
                    <td>Developer</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>